body {
    font-family: 'Poppins', sans-serif;
}
.container {
    border: 2px dashed hotpink;
    border-radius: 8px;
    padding: 20px;
}
.item {
    width: 100px;
    height: 100px;

    border-radius: 4px;
    border: 2px solid deeppink;
    background-color: hotpink;
    font-size: x-large;
    color: white;

    /* Cijfers in het midden positioneren*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {

}

.item {

}